/* Ensure the Navbar takes the full width */
.navbar {
  width: 100%;
  padding: 10px 20px;
  position: fixed;
  /* Fix the navbar at the top */
  top: 0;
  left: 0;
  z-index: 1000;
  /* Make sure the navbar stays on top of other elements */
}

/* Adjust the space below the navbar to avoid content being hidden behind it */
body {
  padding-top: 60px;
  /* Adjust this depending on the navbar height */
}

.navbar .navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .nav-link,
.navbar .navbar-toggler {
  color: white !important;
}

@media (max-width: 768px) {
  .navbar .navbar-brand {
    font-size: 1.2rem;
  }

  .navbar .nav-link {
    font-size: 1rem;
  }
}